/* All these style names need to be cleaned up and changed from audit to feta */

.audits-sidebar-tree-item .icon{
  content: url(../images/feta_single.png)
}

.audit-result-sidebar-tree-item .icon{
 content: url(../images/test.png)
}

.btnBar{
	position:fixed;
	height: 40px;
	width:100%;
	background-color:#ccc;
	margin-left:-16px;
	padding-left:16px;
	top:0;
}

#testCode{
	position: absolute;
	overflow: auto;
	bottom: 0;
	left: 0;
	right: 0;
	top: 40px;
}




